*{
    padding: 0;
    margin: 0;
}
#home{
	width: 100%;
	height: 650px;
	background-size: cover;
}

header{
	width: 100%;
	height: 50px;
}
.logo img{
	height: 100%;
}
.logo{
	width: 30%;
	height: 100%;
	float: left;
}
nav{
	width: 70%;
	height: 100%;
	float: right;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	padding: 18px 26px;
}
.slider{
	width: 100%;
	height: 600px;
	text-align: center;
	color: #fff;
	position: relative;
}
.dt{
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.dtc{
	vertical-align: middle;
	display: table-cell;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
hr{
	border: none;
	width: 90px;
	height: 2px;
	background-color: #FF5733;
	display: inline-block;
	margin: 30px 0;
}
p{
	font-size: 22px;
}
button{
	border: none;
	padding: 18px 35px;
	font-size: 17px;
	background-color: #FF5733;
	color: #fff;
	border-radius: 30px;
	margin-top: 42px;
}
#about{
	text-align: center;
	width: 100%;
	height: auto;
	border: 1px solid rgba(15, 6, 6, 0.336);
}
.sell-padding{
	padding: 120px 0;
}
.container{
	margin: 0 60px;
}
#my-angry{
	width: 100%;
	height: 300px;
	text-align: center;
	border: 1px solid rgba(177, 137, 137, 0.336);
}
.services-item{
	width: 22%;
	margin: 19px;
	float: left;
}